.Background {
  padding-top: 50px;
  text-align: left;
  display: flex;
  /* flex-wrap: wrap; */
  /* height: 100vh; */
}

.Left {
  flex: 1;
  max-width: 100vw;
}

.Right {
  flex: 1;
  /* padding-left: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Right img {
  max-width: 50%;
  /* min-width: 50%; */
  height: auto;
}
