.FullNavigationBottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: black;
  z-index: 1000;
}

.FullNavigationTop {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: black;
  z-index: 1000;
}

/* .Navigation {
  padding: 10px;
} */

.NavItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.NavItems div {
  flex: 1;
  padding: 20px;
}

.NavItems div:hover {
  background-color: aqua;
}

.NavItems div:hover {
  background-color: blueviolet;
  transition: all 500ms ease;
}

.Navigation {
}

.NavigationBottomBar {
  position: relative;
  height: 10px;
  width: 30px;
  background-color: aqua;
  transition: all 500ms ease;
}

@media screen and (max-width: 535px) {
  .NavItems div {
    padding: 10px;
    /* font-size: 0.8em; */
  }
}

@media screen and (max-width: 400px) {
  .NavItems div {
    padding: 5px;
    font-size: 0.8em;
  }
}
