.FullNavigationBottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: white;
  z-index: 1000;
}

.FullNavigationTop {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 1000;
}

.NavItems {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.NavItems div {
  flex: 1;
  padding: 20px;
  color: black;
  text-align: center;
}

/* .NavItems div:hover {
  background-color: aqua;
} */

.NavItems div:hover {
  background-color: aqua;
  transition: all 500ms ease;
}

.NavigationBottomBar {
  position: relative;
  height: 5px;
  width: 30px;
  background-color: aqua;
  transition: all 500ms ease;
}

@media screen and (max-width: 535px) {
  .NavItems div {
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .NavItems div {
    padding: 5px;
  }
}
