.Splitter {
  display: flex;
}

.Left,
.Right {
  flex: 1;
  /* height: 200px; */
}

.Left {
  text-align: left;
}

.Right {
  /* background-color: pink; */
  padding: 16px;
}

.ListItem {
  padding: 10px;
}

.Slider {
  position: relative;
  background-color: aqua;
  width: 5px;
  transition: all 500ms ease;
}

.Experience {
  padding-top: 50px;
  /* height: 100vh; */
}
