.App {
  text-align: justify;
  font-family: JosefinSans, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 760px) {
  body {
    font-size: 0.9rem;
  }
}

@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans"),
    url(./fonts/JosefinSans/JosefinSans-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "JosefinSans";
  font-weight: 900;
  src: local("JosefinSans"),
    url(./fonts/JosefinSans/JosefinSans-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "Chilanka";
  src: local("Chilanka"),
    url(./fonts/Chilanka/Chilanka-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Nanum";
  src: local("Nanum"), url(./fonts/Nanum/Nanum-Regular.ttf) format("opentype");
}

/* @font-face {
    font-family: 'JosefinSans';
    font-weight: 900;
    src: local('JosefinSans'), url(./fonts/JosefinSans-Black.otf) format('opentype');
} */

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
