.MoreProject {
  border: 1px solid black;
  position: relative;
  bottom: 0px;
  transition: all 300ms ease;
  background-color: rgba(169, 169, 169, 0.082);
  flex: 0 49%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: rgba(169, 169, 169, 0.308) 0px 2px 4px;
}

.MoreProject:hover {
  bottom: 7px;
  transition: all 300ms ease;
}

.TitleIcons {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin: 0;
  padding: 0;
  color: blanchedalmond;
}

.Icons {
  display: flex;
  justify-content: right;
}

.SVG {
  width: 30px;
  height: 30px;
  fill: gray;
  stroke: black;
  margin-left: 10px;
}

.SVG:hover {
  fill: aliceblue;
  stroke: aliceblue;
  transition: all 300ms ease;
}

.TechStack {
  margin-top: 5px;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.TechStack div {
  color: gray;
  margin-left: 10px;
  /* border: 1px solid gray; */
  border-radius: 4px;
  padding: 1px 2px;
}

.TechStack div:hover {
  color: aliceblue;
  border-color: aliceblue;
  transition: all 300ms ease;
}

@media screen and (max-width: 500px) {
  .MoreProject {
    flex: 0 100%;
    width: 100%;
  }
}
